{% load engine_tags %}
<div class="dropdown" style="    top: 22%; margin-left: -22px;">

    <div class="ui lazy segment"  >
        <div class="ui divided list" id="lazy" data-page="{{ page }}">
            {% for item in objs %}
                <div class="emphasize item">

                    {% if item|is_job %}
                        <img class="ui avatar image" src="{% img item.analysis %}"/>
                    {% else %}
                        <img class="ui avatar image" src="{% img item %}"/>
                    {% endif %}
                    <div class="content">
                        {% if item.is_cloned %}
                            <i class="linkify icon"></i>
                        {% endif %}

                        <a href="{{ item.url }}">{{ item.get_name|truncatechars:50 }}</a>


                    </div>
                </div>

            {% endfor %}
        </div>
    <a class="ui fluid label" style="text-align: center" id="load"> <i class="bars icon"></i>Load More</a>
    </div>


</div>

