{% extends "base_template.html" %}
{% load engine_tags %}
{% load static %}


{% block title %}
{% comment %}       <div class="ui center aligned top-title header" >
         <span>
             <img class="ui avatar viewing image" src="{% img project %}"/>{{ project.name }}
         </span>
       </div>{% endcomment %}

{% endblock %}

{% block body %}
{% comment %}       <div class="ui center aligned top-title header" >
         <span>
             <img class="ui avatar  image" src="{% img project %}"/>{{ project.name }}
         </span>
       </div>{% endcomment %}


    <input type="hidden" id="project_id" value="{{ project.id }}">

<div id="clipboard">{% clipboard project.uid %}</div>

    {% csrf_token %}
    {% block segment %}
<div  class="ui basic segment">
    <div class="ui basic large segment" style="padding-top: 0; padding-left: 0px;padding-right: 0px;">

<div class="ui divided simple items">
{% project_details project %}

</div>
    <div class="ui divider"></div>
    <span>

        {% block content %}
            Content
        {% endblock %}
    </span>
    </div>
</div>
{% endblock %}


{% endblock %}