{% load static %}
{% load compress %}
{% load engine_tags %}
{% load recaptcha2 %}

<html>
<head>

    <title>
        {# Page Title #}
        {% block headtitle %}Title{% endblock %}
    </title>

    {# Extra header content #}
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'recipes_favicon.ico' %}" type="image/x-icon"/>
    <script src="https://unpkg.com/htmx.org@0.0.4/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% recaptcha_init %}

    {% compress css %}

        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'engine.css' %}{% randparam %}" rel="stylesheet">
        <link href="{% static 'prism.css' %}" rel="stylesheet">


    {% endcompress %}

    {% compress js %}
        <script src="{% static 'semantic.min.js' %}"></script>
        <script src="{% static 'setup.js' %}{% randparam %}"></script>
        <script src="{% static 'engine.js' %}{% randparam %}"></script>
        <script src="{% static 'prism.js' %}{% randparam %}"></script>

    {% endcompress %}

    {% block js %}
    {% endblock %}

</head>
<body>
{% block menu %}
    {% menubar request=request %}
{% endblock %}


<div class="sidenav">
    <div class="ui segments" style="border: none;box-shadow: none">

        <a class="ui segment {% activate active "latest_recipes" %}" href="{% url 'latest_recipes' %}">
            <i class=" settings  icon"></i> Latest Recipes
        </a>

        <a class="ui segment {% activate active "public" %}" href="{% url 'project_list_public' %}">
            <i class=" list  icon"></i> Project List
        </a>
        {% if user.is_authenticated %}

            <div class="ui segment {% activate active "private" %}   item" >
                <a href="{% url 'project_list_private' %}" style="display: inline-block">
                    <i class=" briefcase  icon"></i> My Projects</a>


                <a href="#" class="ui basic label" style="float: right;    padding: 5px;" id="myproj">
                    <i class="right chevron icon" style="margin-right: 0px"></i></a>

            </div>

        {% endif %}

        {#% init_lazy_project user %#}
<div class="ui divider"></div>
        <div class="ui segment" style="padding: 6px;">

            <a class="ui  large fluid label  " href="{% url 'project_create' %}" style="font-weight: 100;color: grey;">
                <i class=" green plus  icon"></i> Create Project
            </a>

        </div>
     {% if project %}

      <div class="ui segment" style="padding: 6px;">

            <a class="ui large fluid label" href="{% url "recipe_create" project.uid %}" style="font-weight: 100;color: grey;"  >
                <i class=" orange setting  icon"></i> Create Recipe
            </a>
      </div>
     <div class="ui segment" style="padding: 6px;">
            <a class="ui large fluid label" href="{% url "data_upload" project.uid %}"  style="font-weight: 100;color: grey;" >
                <i class=" blue folder  icon"></i>  Add Data
            </a>
      </div>

            <div class="ui divider"></div>

            <div class="ui segment">


                <img class="ui avatar image" src="{% img project %}"/>
                <span>
                        {{ project.get_name|truncatechars:80 }}
                    </span>


            </div>

            <a class="{% activate 'info' active %}  ui segment" href="{% url 'project_view' project.uid %}"
               style="border: none">
                <i class="question icon "></i>Project Info
            </a>

            <a class="{% activate 'data' active %}  ui segment" href="{% url 'data_list' project.uid %}"
               style="border: none">
                <i class="file icon "></i> <span id="data_count">{{ data_count }}</span>&nbsp;Data
            </a>

            <a class="{% activate 'recipes' active %}  ui segment" href="{% url 'recipe_list' project.uid %}"
               style="border: none">
                <i class="setting icon "></i> {{ recipe_count }}&nbsp;Recipes</a>

            <a class="{% activate 'jobs' active %} ui segment" href="{% url 'job_list' project.uid %}"
               style="border: none">
                <i class="bar chart icon "></i><span id="job_count">{{ result_count }}</span><span class="phone">&nbsp;Results</span>
            </a>



        {% endif %}

        {% if recipe or analysis %}
            <div class="ui divider"></div>
            <div class="ui segment">
                <img class="ui avatar image" src="{% img recipe %}">
                <span>
                        {{ recipe.get_name }}
                    </span>
            </div>

            <a class="ui segment item click" href="#" data-value="#run">
                <i class="play olive icon"></i> Run
            </a>

            <a class="ui segment item click" href="#info" data-value="#info">
                <i class="info blue circle icon"></i> Description
            </a>

            <a class="ui segment item click" href="#results" data-value="#results">
                <i class="settings orange icon"></i> Results ({{ recipe.job_count }})
            </a>


            <a class="ui segment item click" href="#interface" data-value="#interface">
                <i class="tv brown icon"></i> Interface
            </a>


            <a class="ui segment item click" href="#code" data-value="#code">
                <i class="code pink icon"></i> Code
            </a>


            <a class="ui segment item" href="{% url 'recipe_download' recipe.uid %}">
                <i class="download violet icon"></i> Download
            </a>




        {% endif %}
        <div class="ui divider"></div>
        <p class="ui item muted smaller" style="text-align: center">
            <a href="https://github.com/ialbert/biostar-central" class="ui image">
                <img src="{% static 'images/badge-recipe.svg' %}"> </a> release {{ VERSION }}
        </p>
        <div class="ui divider" style="border: 2px transparent;"></div>
    </div>

</div>
<div class="main">
    <div class="ui container" id="top">

    {% init_lazy_project user %}
{% comment %}<div class="dropdown" style="    top: 26%; margin-left: -22px;">

  <div class="ui segment">
  <p>Hello World!Hello World!Hello World!Hello World!</p>
  </div>

</div>{% endcomment %}
        {% include 'site_header.html' %}

        <div id="search-results"></div>

        {% show_messages messages %}
        {% block body %}
            Body
        {% endblock %}

    </div>
</div>

</body>

{% block script %}
{% endblock %}

</html>