{% extends "base_template.html" %}
{% load engine_tags %}
{% load static %}


{% block title %}
       <div class="ui center aligned top-title header" >
         <span>
             <img class="ui avatar viewing image" src="{% img project %}"/>{{ project.name }}
         </span>
       </div>
{% endblock %}

{% block body %}
       <div class="ui center aligned top-title header" >
         <span>
             <img class="ui avatar viewing image" src="{% img project %}"/>{{ project.name }}
         </span>
       </div>
    <input type="hidden" id="project_id" value="{{ project.id }}">

    <span id="clipboard"></span>

    {% csrf_token %}
    {% block segment %}


    <div class="ui basic large segment">
        {% block content %}
            Content
        {% endblock %}
    </div>
{% endblock %}


{% endblock %}
