{% load static %}
{% load compress %}
{% load engine_tags %}
{% load recaptcha2 %}

<html>
<head>

    <title>
        {# Page Title #}
        {% block headtitle %}Title{% endblock %}

    </title>

    {# Extra header content #}
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'recipes_favicon.ico' %}" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% recaptcha_init %}

    {% compress css %}

        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'engine.css' %}{% randparam %}" rel="stylesheet">
        <link href="{% static 'prism.css' %}" rel="stylesheet">

    {% endcompress %}

    {% compress js %}
        <script src="{% static 'semantic.min.js' %}">
        </script>
        <script src="{% static 'setup.js' %}{% randparam %}"></script>
        <script src="{% static 'engine.js' %}{% randparam %}"></script>
        <script src="{% static 'prism.js' %}{% randparam %}"></script>

    {% endcompress %}

    {% block js %}
    {% endblock %}

</head>
<body>

<div id="top"></div>
<div class="ui basic segment">

    <div class="ui center aligned header">
        {% block title %}
            {% include 'site_header.html' %}
        {% endblock %}
    </div>



    <div class="ui bottom pushable attached segment" style="width: 100%; min-height: 800px;height: auto;">

        <div class="ui visible left vertical inverted sidebar recipes menu"
             style="box-shadow: none;border-top: none;border-bottom:none;border-left: none;">


            <a class="ui {% activate active "latest_recipes" %} item" href="{% url 'latest_recipes' %}">
                Latest Recipes<i class=" settings icon"></i>

            </a>

            <a class="ui public {% activate active "public" %}  item" href="{% url 'project_list_public' %}">
                <i class=" list icon"></i>Public Projects
            </a>

                {% if project %}
<div class="ui basic segment">
                        <div class="item"> {{ project.name|truncatechars:14 }}</div>
                        <a class="{% activate 'info' active %}  item" href="{% url 'project_viewing' project.label %}">
                            <i class="info circle icon"></i><span class="phone">Information </span>
                        </a>

                        <a class="{% activate 'data' active %}  item" href="{% url 'data_listing' project.label %}">
                            <i class="file text icon"></i><span id="data_count">{{ data_count }}</span>&nbsp;<span
                                class="phone"> Data</span>
                        </a>
                        <a class="{% activate 'recipes' active %}  item"
                           href="{% url 'recipe_listing' project.label %}">
                            <i class="settings icon"></i> {{ recipe_count }}&nbsp;<span class="phone"> Recipes</span>
                        </a>

                        <a class="{% activate 'jobs' active %} item" href="{% url 'job_listing' project.label %}">
                            <i class="bar chart icon"></i><span id="job_count">{{ result_count }}</span><span
                                class="phone">&nbsp;Results</span>
                        </a>

                        {% if 0 %}
                            <div class="active item" id="job_item">
                                <i class="angle double down icon"></i> <span class="tablet">{{ activate }}</span>
                            </div>
                        {% endif %}
                    </div>
            {% endif %}

            {% if user.is_authenticated %}
                <a class="ui {% activate active "private" %}  item" href="{% url 'project_list_private' %}">
                    <i class=" briefcase icon"></i>Private Projects
                </a>

                <a class="ui item" href="{% url 'project_create' %}">
                    <i class="plus icon"></i>New Projects
                </a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="ui {% activate active "import" %}  item" href="{% url 'root_list' %}">
                    <i class="download  icon"></i>Import
                </a>

                <a class="ui {% activate active "admin" %} item" href="{% url 'site_admin' %}">
                    <i class="dashboard icon"></i>Site Admin
                </a>

            {% endif %}
        </div>

        <div class="pusher" style="width: 80%;">
    {% block menu %}
        {% menubar request=request %}
    {% endblock %}
            <div id="search-results"></div>
            {% block body %}
                {# Main body #}
                BODY
                {% block content %}


                {% endblock %}
            {% endblock %}


        </div>

    </div>
</div>

{% block footer %}
    <div class="ui basic center aligned segment">
        <p class="muted smaller">
            Powered by the <a href="https://github.com/ialbert/biostar-central" class="ui image">
            <img src="{% static 'images/badge-recipe.svg' %}"> </a> release {{ VERSION }}
        </p>

    </div>
{% endblock %}


</body>

{% block script %}
{% endblock %}

</html>
