{% extends "base_content.html" %}
{% load static %}
{% load engine_tags %}

{% block js %}

    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}{% randparam %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/idea.css' %}{% randparam %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/addon/display/autorefresh.js' %}"></script>
    <script src="{% static 'codemirror/mode/simple.js' %}"></script>
    <script src="{% static 'codemirror/mode/engine.js' %}"></script>
    <script src="{% static 'codemirror/mode/shell.js' %}"></script>

    {#  Javascript code that handles the recipe interfaces. #}
    <script src="{% static 'recipes.js' %}{% randparam %}"></script>

{% endblock %}

{% block headtitle %}
    Recipe View
{% endblock %}


    {% block segment %}
        <div  class="ui basic segment">
    <div class="ui basic segment" style="padding-top: 0; padding-left: 0px;padding-right: 37px;">
                <div class="ui basic large segment">
            <div class="ui divided link simple items">
    {% recipe_details recipe include_copy %}

</div>
                </div>
    <span>

        {% block content %}


            <input type="hidden" id="recipe_id" value="{{ recipe.id }}">

    {# Info panel. Loads dynamically. #}
    <div class="ui basic large segment collapse" id="info">
        {% include "parts/recipe_info.html" %}
    </div>

    {# Code panel. #}
    <div class="ui basic large segment collapse" id="code">
        {% include "parts/recipe_code.html" %}
    </div>

    {# Interface panel. #}
    <div class="ui basic segment collapse" id="interface">
        {% include "parts/recipe_interface.html" %}
    </div>

    {# Edit panel. #}
    <div class="ui basic large segment collapse formstyle" id="edit">
        {% include "parts/recipe_edit.html" %}
    </div>

    {# Run panel. #}
    <div class="ui basic large segment collapse recipe-form" id="run">
        {#% include "parts/recipe_run.html" %#}
    </div>


    {# Results panel. #}
    <div class="ui basic large segment collapse" id="results">
        {#% include "parts/recipe_results.html" %#}
    </div>


    {# Preview anchor. #}
    <div class="ui tiny inputcolor modal" id="preview">
        <div></div>
    </div>

        {% endblock %}
    </span>
    </div>
        </div>
{% endblock %}



