{% extends "forum_list.html" %}
{% load forum_tags %}
{% load humanize %}
{% block headtitle %}
    Biostar Chat
{% endblock %}



{% block content %}
    {% gravatar user=user size=80 as gravatar_src %}
{% url "user_profile"  user.profile.uid as user_src %}
{% now '' as creation_date %}

<div class="ui horizontal segments">

<div class="ui segment">

    <div class="ui relaxed divided list">
        {% for room in chat_rooms %}

            {% chat_room_detail room=room %}

        {% endfor %}
    <div id="room-insert"></div>
    </div>

    <div class="ui action fluid input">
        <input class="ui input" id="room-name-input" type="text" placeholder="Create a chat room."/><br/>
        <button id="room-name-submit" type="button" value="Enter">Create</button>
    </div>

</div>


    <div class="ui segment" id="chat-insert" style="background-color: #f6f6f6;">
    <b>{{ initial_room.name }}</b>

    <div id="chat-log" class="ui blue segment" style="width: 100%; height: 300px; overflow-y: auto;background-color: #fcfcfc;">

        {% for message in initial_msgs %}
            {% chat_message message=message %}
        {% endfor %}

    </div>

    <div class="ui action input">
        <input id="chat-message-input" style="width: 100%;" type="text" size="100" data-username="{{ user.profile.name }}"/>
        <button id="chat-message-submit" type="button" value="Send" class="ui button">Send</button>
    </div>

</div>


</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
            alert("HHH");
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        let list_container = $('#room-insert');
        let view_container = $('#chat-insert');

        $.ajax('/chat/ajax/create/room/', {
            type: 'GET',
            dataType: 'json',
            data: {
                'room': roomName
            },
            success: function (data) {
                if (data.status === 'error') {
                    //alert(data.msg);
                    popup_message(list_container, data.msg, 'error', 1000)
                } else {
                    //alert(data.html);
                    //alert(container.html());
                    list_container.before(data.list_html);
                    view_container.html(data.view_html);
                    $('#chat-log').animate({scrollTop: $('#chat-log').prop("scrollHeight")}, 500)
                    //$('#chat-log').scroll()//$('#chat-log').height();
                    //let obj = document.getElementById("#chat-log");
                    //obj.scrollTop = obj.scrollHeight - obj.clientHeight;
                }

            },
            error: function (xhr, status, text) {
                error_message($(this), xhr, status, text)
            }
        });

        //window.location.pathname = '/ajax/create/room/';


    };

    var roomName = "{{ initial_room.uid }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        //console.log(e.data, e.data.type);
        var message = data['message'];
        //let value = $('#chat-log').val();
        //let new_message = message + '<br>';
        var msg = message.split('|/')[0];
        var user_info = message.split('|/')[1].split(',');
        var username = user_info[0].substring(0, 30);
        var message_user_url = user_info[1];
        var message_gravatar_url = user_info[2];
        //console.log(message, message_gravatar_url, message_user_url);

        $('#chat-log').append('<div class="chat-msg">\n' +
            '\n' +
            '    <div class="chat-container">\n' +
            '        <a href="'+ message_user_url +'">\n' +
            '\n' +
            '            <div class="ui avatar image">\n' +
            '                <img class="ui centered image thread-users"\n' +
            '                     src='+ message_gravatar_url +'>\n' +
            '            </div>\n' +
            '\n' +
            '        </a>\n' +
            '        <a href="'+ message_user_url + '"><b>\n' + username + '\n' + '</b>\n' + '</a>\n' +


            '        <span class="muted">{{ creation_date|timesince|truncatechars:12 }} ago</span>\n' +
            '\n' +
            '        <div style="padding-top: 2px;padding-bottom: 2px; margin-left: 33px">\n' +
             msg + '\n' +
            '        </div>\n' +
            '    </div>\n' +
            '\n' +
            '</div>');



        //console.log(message, "MSG");



        $('#chat-log').animate({scrollTop: $('#chat-log').prop("scrollHeight")}, 500)
        //let obj = document.getElementById("#chat-log");
        //obj.scrollTop = obj.scrollHeight - obj.clientHeight;
        //alert(value);
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var username = $('#chat-message-input').data('username');
        var user_url = "{{ user_src }}";
        var gravatar_url = "{{ gravatar_src }}";

        chatSocket.send(JSON.stringify({
            'message': message + "|/"+ username + "," + user_url + "," + gravatar_url,
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}

