{% load forum_tags %}
{% load humanize %}
<div class="ui segment">
    <b>
        Biostars Chat
    </b>

    <div class="ui relaxed divided list">

        {% for room in chat_rooms %}
            <div class="item">
                <a class=" chat-room" data-uid="{{ room.uid }}"
                   style="display: inline;padding-right: 20px;">{{ room.name }}</a>
                <span>
                {% get_chat_users room=room %}
                    <i class="plus icon"></i>
                    <div>
                    {{ room.users.count|bignum }} people
                    </div>
                </span>


            </div>
        {% endfor %}

    </div>


    <div class="ui action fluid input">
        <input class="ui input" id="room-name-input" type="text" placeholder="Create a chat room."/><br/>
        <button id="room-name-submit" type="button" value="Enter">Create</button>
    </div>


</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/room/' + roomName + '/';
    };
</script>