{% load forum_tags %}

<div class="ui segment">
    <div class="ui header">
        Chat
    </div>

    <div class="ui relaxed divided list">

        {% for room in chat_rooms %}
            <div class="item">
                <div class="content">
                    <a href="{% url "user_profile"  room.creator.profile.uid %}">

                            <div class="ui avatar image">
                                <img class="ui tiny centered image thread-users"
                                     src="{% gravatar user=room.creator size=80 %}">
                            </div>

                    </a>

                    <a class=" chat-room" style="display: contents !important;" data-uid="{{ room.uid }}"  >{{ room.name }}</a>
                     <div>
                        {{ room.creator.profile.name|truncatechars:50 }}
                    </div>
                    <div class="description">{{ room.users.all.count }}</div>
                </div>
            </div>
        {% endfor %}

    </div>

    Create a chat room.
    <div class="ui action fluid input">
        <input class="ui input" id="room-name-input" type="text" placeholder="Enter a room name"/><br/>
        <button id="room-name-submit" type="button" value="Enter">Create</button>
    </div>


</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/room/' + roomName + '/';
    };
</script>